@tailwind base;
@tailwind components;
@tailwind utilities;

.range-slider {
  appearance: none;
  width: 100%;
  height: 1rem;
  background-color: #9c9c9c80;
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 2rem;
  height: 1rem;
  cursor: pointer;
}

.animation-spin-slow {
  animation: spin 25s linear infinite;
}

.animation-paused {
  animation-play-state: paused; /* Animation tạm dừng */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
